.pagination {
  display: flex;
  gap: 16px; 
  justify-content: center;
  width: 75%;
}

.page a,
.prev a,
.next a {
  display: inline-flex; 
  justify-content: center; 
  align-items: center; 
  background-color: transparent;
  width: auto;
  padding: 7.5px 16px;
  border-radius: 8px;
  border: 1px solid #232321;
  cursor: pointer;
  text-align: center; 
  height: 100%;
}

.active a {
  color: white;
  background-color: #232321;
}
.disabled a{
    background-color: #0000001c;
}
.break{
  cursor: pointer;
}


@media  (max-width: 980px) {
  .pagination{
    gap: 8px;
    width: 100%;
  }
  .page a,
  .prev a,
  .next a {
    padding: 6px 12px;
    height: 100%;
  }
}
@media  (max-width: 350px) {

  .page a,
  .prev a,
  .next a {
    padding: 5px 9px;

  }
}